:root {
  --color-primary-dark: #31261a;
  --color-ptimary--white: #faf4ea;
  --color-brand: #819b57;
  --color-brand--dark: #465929;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  color: var(--color-primary-dark);
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  background-color: var(--color-ptimary--white);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

address {
  font-style: normal;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  display: inline-block;
}

.hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.section {
  padding: 48px 0;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
}

.button {
  padding: 16px 32px;
  color: var(--color-ptimary--white);
  background: var(--color-brand);
  border: 2px solid var(--color-brand);
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}
.button:hover {
  color: var(--color-brand--dark);
  background-color: transparent;
}

.link {
  color: var(--color-ptimary--white);
  text-decoration: none;
  line-height: 1.5;
}

.link:hover {
  color: var(--color-brand);
}

/* header */
.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
  background-color: grey;
}

.header-nav {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-menu {
  display: flex;
  gap: 64px;
  flex-grow: 1;
  justify-content: center;
}

/* hero section */

.hero-section {
  padding: 272px 0;
  background-image: url("../images/фонпекарні.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.hero-title {
  margin-bottom: 0;
  color: var(--color-ptimary--white);
  text-align: center;
  font-size: 128px;
  font-weight: 900;
}

.hero-title span {
  color: var(--color-brand);
}

/* adventages-section */
.advantages-section {
  background-color: var(--color-brand);
  padding: 16px 0;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.advantages-item {
  color: var(--color-ptimary--white);
  font-size: 20px;
  font-weight: 300;
}

.section-title .accent {
  color: var(--color-brand--dark);
}

.section-title {
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}

.section-title.centered {
  text-align: center;
}

/* traditions-section */

.traditions-section {
  padding-top: 96px;
}

.traditions-container {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}

.traditions-content {
  max-width: 710px;
}

.traditions-title {
  margin-bottom: 42px;
}

.traditions-text .brand {
  color: var(--color-brand);
  font-weight: 600;
}

.traditions-text .brand-uppercase {
  color: var(--color-brand);
  text-transform: uppercase;
}

.traditions-text.limited {
  max-width: 340px;
}

.traditions-photo {
  width: 393;
  height: 466;
  opacity: 1;
  top: 894px;
  left: 912px;
  border-top-left-radius: 400px;
  border-top-right-radius: 400px;
}

/* chef-section */
.chef-title {
  font-size: 40;
  font-weight: 600;
  margin-bottom: 16px;
}

.chef-photo {
  width: 240.99989318847656;
  height: 390;
  opacity: 1;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 200px;
  box-shadow: -16px 16px 0 0 var(--color-ptimary--white),
    -16px 16px 0 2px var(--color-brand--dark);
}

.chefs-title {
  position: relative;
  margin: 0 auto 80px;
  max-width: 540px;
}

.chefs-title::before,
.chefs-title::after {
  display: block;
  width: 352px;
  border: 2px solid rgba(207, 207, 188, 1);
  content: "";
}

.chefs-title::before {
  position: absolute;
  left: -360px;
  bottom: 24px;
}

.chefs-title::after {
  position: absolute;
  right: -360px;
  bottom: 24px;
}

.chef-text {
  margin-bottom: 24px;
}

.chef-text:last-child {
  margin-bottom: 0px;
}

.chefs-list {
  display: flex;
  gap: 40px 30px;
  flex: wrap;
}

.chefs-item {
  flex-basis: calc((100% - 30px) / 2);
}

.chef-card {
  display: flex;
  gap: 30px;
}

/* format-section */
.formats-list {
  display: flex;
  gap: 20px;
}

.formats-container {
  display: flex;
  gap: 32px;
  align-items: center;
}

.format-card {
  height: 444px;
  background-image: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    rgba(49, 38, 26, 1) 100%
  );
  padding: 24px;
  border: 1px solid lightgray;
  border-radius: 16px;
}

.format-item {
  flex-basis: calc((100%-40px) / 3);
}

.format-title {
  font-size: 24px;
  font-weight: 600;
}

.formats-title {
  margin-bottom: 80px;
}

.format-text {
  font-size: 14px;
  font-weight: 300;
}

/* carousel */

.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 44px;
  height: 44px;
  padding: 0;
  border-radius: 50%;
  color: var(--color-primary-dark);
  background-color: transparent;
  border: 1px solid var(--color-primary-dark);
  flex-shrink: 0;
}

.carousel-arrow {
  width: 16px;
  height: 16px;
}

.carousel-button:hover {
  background-color: var(--color-primary-dark);
  color: var(--color-ptimary--white);
}

.carousel-button:hover .carousel-arrow {
  fill: var(--color-ptimary--white);
}

/* contact-section */
.contact-section {
  padding-bottom: 96px;
}

.contact-container {
  display: flex;
  gap: 32px;
}

.contact-map {
  flex-shrink: 0;
  border: none;
  border-radius: 16px;
}

.contact-title {
  margin-bottom: 16px;
}

/* footer */

.footer {
  background-color: var(--color-primary-dark);
  background-image: url(../images/fonfooter.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 32px 0;
  position: relative;
}

.footer-container {
  display: flex;
  gap: 20px;
}

.footer-adress,
.footer-nav {
  flex-basis: 50%;
  display: flex;
  gap: 20px;
}

.footer-logo,
.footer-menu {
  flex-grow: 1;
}
.footer-nav img {
  max-width: 108px; /* або бажаний розмір */
  height: 57px;
}

.adress-list,
.adress-info {
  flex-grow: 1;
}

.adress-link {
  font-size: 16px;
  font-weight: 300;
  color: var(--color-ptimary--white);
  text-decoration: none;
}

.adress-link:hover {
  color: var(--color-brand);
}

.adress-copyright {
  font-size: 14px;
}

.adress-icon:hover {
  fill: var(--color-brand);
}

.adress-icon {
  width: 32px;
  height: 32px;
  opacity: 1;
}

.footer::before {
  position: absolute;
  background-image: url(../images/bread1.png);
  content: "";
  background-size: 180px 120px;
  width: 180px;
  height: 120px;
  bottom: 0;
}

.footer::after {
  position: absolute;
  background-image: url(../images/bread2.png);
  content: "";
  background-size: 100%;
  background-repeat: no-repeat;
  width: 380px;
  height: 190px;
  bottom: 0;
  right: 0;
}

/* modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  position: relative;
  width: 880px;
  height: 880px;
  background-color: var(--color-ptimary--white);
  border-radius: 32px;
}

.modal-button-close {
  position: absolute;
  top: 40px;
  right: 40ps;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
