*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  color: var(--color-primary-dark);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  margin: 0;
  background-color: var(--color-primary--white);

  @media screen and (min-width: $bp-dekstop) {
    font-size: 18px;
    font-weight: 300;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  display: inline-block;
}
