.advantages-section {
  background-color: var(--color-brand);
  padding: 16px 0;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.advantages-item {
  color: var(--color-primary--white);
  font-size: 20px;
  font-weight: 300;
}

.section-title .accent {
  color: var(--color-brand--dark);
}

.section-title {
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}

.section-title.centered {
  text-align: center;
}
