.advantages-section {
  padding: 16px 0;

  @media screen and (min-width: $bp-tablet) {
    background-color: var(--color-brand);
  }
}

.advantages-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: rgba(207, 207, 188, 1);
  border-radius: 24px;
  padding: 24px 40px;

  @media screen and (min-width: $bp-tablet) {
    background-color: transparent;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    border-radius: 0;
    padding: 0;
  }
}

.advantages-item {
  color: var(--color-primary--dark);
  font-size: 14px;
  font-weight: 300;
  @media screen and (min-width: $bp-tablet) {
    color: var(--color-primary--white);
    font-size: 20px;
  }
}

.section-title .accent {
  color: var(--color-brand--dark);
}

.section-title {
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}

.section-title.centered {
  text-align: center;
}
