.button {
  display: block;
  padding: 16px 32px;
  color: var(--color-primary--white);
  background: var(--color-brand);
  border: 2px solid var(--color-brand);
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}
.button:hover {
  color: var(--color-brand--dark);
  background-color: transparent;
}

// .button[disabled] {
//   color: gray;
//   background-color: lightgrey;
//   cursor: not-allowed;
//   border-color: currentColor;
// }
