.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 44px;
  height: 44px;
  padding: 0;
  border-radius: 50%;
  color: var(--color-primary-dark);
  background-color: transparent;
  border: 1px solid var(--color-primary-dark);
  flex-shrink: 0;
}

.carousel-arrow {
  width: 16px;
  height: 16px;
}

.carousel-button:hover {
  background-color: var(--color-primary-dark);
  color: var(--color-primary--white);
}

.carousel-button.next {
  transform: rotate(180deg);
}

.carousel-button:hover .carousel-arrow {
  fill: var(--color-primary--white);
}
