.chef-title {
  font-size: 40;
  font-weight: 600;
  margin-bottom: 16px;
}

.chef-photo {
  width: 140px;
  height: 226px;
  opacity: 1;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 200px;
  box-shadow: -16px 16px 0 0 var(--color-primary--white),
    -16px 16px 0 2px var(--color-brand--dark);
  @media screen and (min-width: $bp-tablet) {
    width: 240.99989318847656px;
    height: 390px;
  }
}

.chefs-title {
  position: relative;
  margin: 0 auto 24px;
  max-width: 540px;
  @media screen and (min-width: $bp-tablet) {
    margin-bottom: 80px;
  }
}

.chefs-title::before,
.chefs-title::after {
  display: none;
  @media screen and (min-width: $bp-tablet) {
    display: block;
    width: 352px;
    border: 2px solid rgba(207, 207, 188, 1);
    content: "";
  }
}

.chefs-title::before {
  position: absolute;
  left: -360px;
  bottom: 24px;
}

.chefs-title::after {
  position: absolute;
  right: -360px;
  bottom: 24px;
}

.chef-text {
  margin-bottom: 24px;
  font-size: 14px;
  @media screen and (min-width: $bp-tablet) {
    font-size: 18px;
  }
}

.chef-text:last-child {
  margin-bottom: 0px;
}

.chefs-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: wrap;

  @media screen and (min-width: $bp-tablet) {
    gap: 40px 30px;
    flex-direction: row;
  }
}

.chefs-item {
  @media screen and (min-width: $bp-tablet) {
    flex-basis: calc((100% - 30px) / 2);
  }
}

.chef-card {
  display: flex;
  gap: 16px;
  align-items: flex-start;
  @media screen and (min-width: $bp-tablet) {
    gap: 30px;
  }
}
