.chef-title {
  font-size: 40;
  font-weight: 600;
  margin-bottom: 16px;
}

.chef-photo {
  width: 240.99989318847656;
  height: 390;
  opacity: 1;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 200px;
  box-shadow: -16px 16px 0 0 var(--color-primary--white),
    -16px 16px 0 2px var(--color-brand--dark);
}

.chefs-title {
  position: relative;
  margin: 0 auto 80px;
  max-width: 540px;
}

.chefs-title::before,
.chefs-title::after {
  display: block;
  width: 352px;
  border: 2px solid rgba(207, 207, 188, 1);
  content: "";
}

.chefs-title::before {
  position: absolute;
  left: -360px;
  bottom: 24px;
}

.chefs-title::after {
  position: absolute;
  right: -360px;
  bottom: 24px;
}

.chef-text {
  margin-bottom: 24px;
}

.chef-text:last-child {
  margin-bottom: 0px;
}

.chefs-list {
  display: flex;
  gap: 40px 30px;
  flex: wrap;
}

.chefs-item {
  flex-basis: calc((100% - 30px) / 2);
}

.chef-card {
  display: flex;
  gap: 30px;
}
