.footer {
  background-color: var(--color-primary-dark);
  background-image: url(../images/fonfooter.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 32px 0;
  position: relative;
}

.footer-container {
  display: flex;
  gap: 20px;
}

.footer-adress,
.footer-nav {
  flex-basis: 50%;
  display: flex;
  gap: 20px;
}

.footer-logo,
.footer-menu {
  flex-grow: 1;
}
.footer-nav img {
  max-width: 108px; /* або бажаний розмір */
  height: 57px;
}

.adress-list,
.adress-info {
  flex-grow: 1;
}

.adress-link {
  font-size: 16px;
  font-weight: 300;
  color: var(--color-primary--white);
  text-decoration: none;
}

.adress-link:hover {
  color: var(--color-brand);
}

.adress-copyright {
  font-size: 14px;
}

.adress-icon:hover {
  fill: var(--color-brand);
}

.adress-icon {
  width: 32px;
  height: 32px;
  opacity: 1;
}

.footer::before {
  position: absolute;
  background-image: url(../images/bread1.png);
  content: "";
  background-size: 180px 120px;
  width: 180px;
  height: 120px;
  bottom: 0;
}

.footer::after {
  position: absolute;
  background-image: url(../images/bread2.png);
  content: "";
  background-size: 100%;
  background-repeat: no-repeat;
  width: 380px;
  height: 190px;
  bottom: 0;
  right: 0;
}
