.formats-list {
  display: flex;
  gap: 20px;
}

.formats-container {
  display: flex;
  gap: 32px;
  align-items: center;
}

.format-card {
  height: 444px;
  background-image: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    rgba(49, 38, 26, 1) 100%
  );
  padding: 24px;
  border: 1px solid lightgray;
  border-radius: 16px;
  transition: transform 0.3s;
}

.format-card:hover {
  transform: scale(1.05);
}

.format-item {
  flex-basis: calc((100% - 40px) / 3);
}

.format-title {
  font-size: 24px;
  font-weight: 600;
}

.formats-title {
  margin-bottom: 80px;
}

.format-text {
  font-size: 14px;
  font-weight: 300;
}
