.form-label {
  display: block;
}

.form-input {
  padding: 16px 42px;
  width: 100%;
  border: 1px solid #a28268;
  border-radius: 8px;
  font-size: 16px;
  line-height: 1.17;
  background-color: transparent;
}

.form-input:focus {
  border-color: var(--color-brand);
  outline: none;
}

.form-field {
  margin-bottom: 32px;
}

.form-input::placeholder {
  color: #a28268;
  font-size: 16px;
  line-height: 1.17;
}

.form-input:focus::placeholder {
  color: var(--color-primary-dark);
}

.form-button {
  display: block;
  margin: 0 auto 24px;
}

.form-terms {
  min-width: 220px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  margin: 0 auto;
}

.form-terms-link {
  text-underline-offset: 2px;
  color: var(--color-primary-dark);
}
