header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 32px;
}

.header__container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header__nav {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 40px;
}

.header__menu {
  display: flex;
  gap: 64px;
  flex-grow: 1;
  justify-content: center;
  @media screen and (max-width: 1200px) {
    display: none;
  }
}

.button {
  @media screen and (max-width: 1200px) {
    display: none;
  }
}

.header__burger {
  background-color: transparent;
  display: none;
  @media screen and (max-width: 1200px) {
    display: block;
  }
}
